<section class="relative w-full h-screen bg text-white overflow-hidden">
  <div class="absolute inset-0 bg-black opacity-50 md:opacity-30 z-0"></div>

  <div class="relative z-10 max-w-screen-xl mx-auto px-6 py-24 flex flex-col justify-center h-full">
    <div class="max-w-xl">
      <img src="/assets/img/tlou.webp" alt="The Last of Us"
           class="w-full h-[200px] object-contain mb-6" />

      <p class="text-lg md:text-xl text-gray-100 mb-8">
        Vingança é tudo o que resta. Descubra como continua a história do aclamado sucesso da HBO.
      </p>

      <div class="flex flex-wrap gap-4">
        <button
          mat-flat-button
          disableRipple
          class="!bg-red-600 hover:!bg-red-700 !text-white px-6 !rounded py-2 font-semibold shadow font-lato"
        >
          Ir para série
        </button>

        <button
          mat-flat-button
          disableRipple
          class="!bg-gray-800 hover:!bg-gray-700 !text-white !rounded px-6 py-2 font-semibold shadow font-lato"
        >
          Mais detalhes
        </button>
      </div>
    </div>
  </div>
</section>
